@import "variable.scss";
.App {
  padding: 5rem 1rem;
 
  .top {
    margin: 0;
  }
}

@media (min-width: 992px){
  .App {
    padding: 5rem 5rem;
  }
}

@media (min-width: 1200px){
 .top{
  display: flex;
 }
}