@import "variable.scss";
.App {
  padding: 5rem 2rem;

  header {
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .App {
    header {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
}
