@import "variable.scss";
.card {
  border-radius: 8px;
  background-color: $VeryDarkMagenta;
  font-family: $Font;
  color: $White;
  width: 20rem;

  .user-profile {
    display: flex;
    align-items: center;
    padding: 2rem 2rem 0 2rem;
    font-size: 1.2rem;

    img {
      border-radius: 50%;
      height: 50px;
      margin-right: 1rem;
    }
    .user-info {
      h2 {
        margin: 0;
        font-weight: 700;
        font-size: 1rem;
      }
      span {
        margin: 0.5rem 0 0 0;
        color: $Pink;
        font-size: 1rem;
      }
    }
  }
  p {
    font-weight: 400;
    padding: 0 2rem 2rem 2rem;
    line-height: 25px;
  }
}

@media (min-width: 768px) {
  .card {
    width: 20rem;
  }
}
