@import "variable.scss";

.rating {
  text-align: center;
  color: $VeryDarkMagenta;
  font-family: $Font;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

@media (min-width: 1200px) {
  .rating {
    width: 31rem;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .starOne {
      position: relative;
      left: -3rem;
    }
    .starTwo {
      position: relative;
      left: 0;
    }
    .starThree {
      position: relative;
      left: 3rem;
    }
  }
}
