@import "variable.scss";
.stars {
  background: $LightGrayishMagenta;
  border-radius: 8px;
  padding: 0.6rem 0;
  margin: 1rem 0;
  p {
    margin: 1rem 0 0 0;
  }
}

@media (min-width: 1200px) {
  .stars {
    margin: 0 0 1rem 0;
    padding: 0;
  }
}
